@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-6">
        <form class="" method="post" action="/Class/SaveChanges">
            
                <div class="form-group">
                    <label class="form-label" for="Name">Name</label>
                    <input type="text" class="form-control" name="Name" id="Name" placeholder="Enter Block Name">

                    <label class="form-label" for="Standard"> Standard</label>
                    <input type="text" class="form-control" id="Standard" name="Standard" placeholder="Enter your standard">
                </div>

                <button type="submit" class="m-3 btn btn-primary">Save Class</button>
           
        </form>
    </div>
</div>