@model OnlineStudentEnrollmentSystem.Models.DashboardModel
<div>

    <span>No Of Teachers: <b class="text-primary">@Model.TotalTeachers</b></span> | <span>No Of Students: <b class="text-primary">@Model.TotalStudents</b> </span> | <span>No Of Classes: <b class="text-primary">@Model.TotalClasses</b></span>

</div>